@model UserViewModel

<section class="edit-profile-page">
    <div class="container">
        <div class="edit-profile">
        <div class="profile-img-container">
            <img id="profile-img-edit" src="@Model.ImageUrl" />
            <form class="edit" id="imageUploadForm" method="post" asp-action="UploadImage" asp-controller="User" enctype="multipart/form-data">
                <input id="imgFile" type="file" name="file" hidden />
                <label for="imgFile"><i class="fa-solid fa-camera"></i></label>
            </form>
        </div>

        <form method="post" asp-action="Edit" asp-controller="User">
            <input asp-for="UserId" hidden readonly />
            <input asp-for="ImageUrl" hidden readonly />

            <div class="form">
                <div class="input-group">
                    <label>FIRST NAME</label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="input-group">
                    <label>LAST NAME</label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="input-group">
                    <label>EMAIL</label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="input-group">
                    <label>PHONE NUMBER</label>
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>

                <div class="input-group">
                    <label>LOCATION</label>
                    <input asp-for="Location" />
                    <span asp-validation-for="Location"></span>
                </div>

                <button class="btn btn-main" type="submit">SAVE CHANGES</button>
            </div>
        </form>
        </div>
    </div>
</section>