@model UserViewModel

<section class="profile-page">
    <div class="container">
        <div class="profile">
            <div class="profile-img">
                <img id="photoImage" src="@Model.ImageUrl" />
                <a asp-action="Edit" asp-controller="User">
                    <div class="edit">
                            <i class="fa-solid fa-pen"></i>
                    </div>
                </a>
            </div>
            <div class="profile-info">
                <h3>@Model.FirstName @Model.LastName </h3>
                <p class="font-14">@Model.Email</p>
            </div>
        </div>
        <div class="profile-menu">
             <a class="option" asp-action="SignOut" asp-controller="Auth">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Sign out</p>
            </a>
        </div>
    </div>

</section>