<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Manero</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        @RenderBody()
        <partial name="~/Views/Partials/Sections/_Navbar.cshtml" />
    </div>
    <script src="https://kit.fontawesome.com/dad2a321e3.js" asp-append-version="true" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
